.staff {
  background-image: url("../images/staff_picks_background.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
}

.staff__title {
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  margin: 80px 0 30px;
  color: #ffffff;
}

.staff__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
}

.staff__cards {
  margin: 68px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  padding-left: 0;
}

.card {
  background-color: #fff;
  border-radius: 6px;
  padding: 32px 40px 20px 32px;
  box-sizing: border-box;
  width: 380px;
  height: 420px;
}

.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.card__text {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 24px;
}

.card__footer {
  font-size: 14px;
  line-height: 20px;
  color: #838383;
  margin: 0;
  margin-top: auto;
}

@media screen and (max-width: 470px) and (min-width: 320px) {
  .staff__title {
    font-size: 30px;
  }
  .staff__subtitle {
    font-size: 16px;
  }
  .card__title {
    font-size: 16px;
    line-height: 20px;
  }
  .card__text {
    font-size: 12px;
    margin: 0;
    line-height: 20px;
  }
  .card__footer {
    font-size: 8px;
  }
  .card {
    width: 300px;
    padding: 20px;
  }
}
