.footer {
  background-color: #1f1f1f;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
}

.footer__columns {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 30px;
}

.footer__column_content_hours {
  margin: 0 0 0 auto;
}

.footer__column_content_social {
  margin: 0 0 0 80px;
}

.footer__logo {
  width: 58px;
  height: 80px;
  position: absolute;
  left: 30px;
}

.footer__column-heading {
  margin: 0 auto 20px auto;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0px;
}

.footer__list-item {
  margin: 16px auto;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  margin-top: 100px;
  padding: 20px;
}

@media screen and (max-width: 950px) and (min-width: 320px) {
  .footer {
    font-size: 12px;
  }
  .footer__column-heading {
    margin: 5px;
  }
  .footer__list-item {
    margin: 5px;
  }
  .footer__column_content_social {
    margin: 0;
  }
  .footer__copyright {
    font-size: 8px;
  }
}

@media screen and (max-width: 659px) and (min-width: 320px) {
  .footer__columns {
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }
  .footer__logo {
    position: static;
    padding: 20px;
  }
  .footer__column_content_hours {
    margin: 0;
    text-align: center;
    padding: 20px;
  }
  .footer__column_content_social {
    margin: 0;
    padding-top: 50px;
  }
  .footer__copyright {
    margin: 0;
  }
}
