@import url(/styles/header.css);
@import url(/styles/content.css);
@import url(/styles/staff.css);
@import url(/styles/events.css);
@import url(/styles/membership.css);
@import url(/styles/footer.css);

* {
  margin: 0;
}

.page {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
}
